* {
    font-family: 'Gamja Flower', cursive;
    box-sizing: border-box;
}

#logo { 
	position: fixed; 
	top:0; 
	left:0; 
}

.header {
    padding: 60px;
    text-align: center;
    background: #92D293;
}

.modal {
	text-align: center;
	font-size: 125%;
}

/* ul {
    margin-right: 2vw;
} */

#gardenImage {
    margin-top: 23px;
}

/* .navList li {
    position: relative;
    margin: 10px;
    font-size: 22px;
    float: right;
} */

body {
    background-image: linear-gradient(
        #ffc4e1,
        #ccb7e5,
        #d4f0f7 100%);
}

.info {
    font-size: 10px;
}

img {
    display: flex;
    opacity: 0.8;
    border-radius: 1%;
    margin: auto;
    flex-direction: column;
}

form {
    text-align: center;
    margin:5px;
    padding: 5px;
    font-size: 25px;
}

 /* Styling to make map section visible. */
#localgardenmap {
    height: 400px;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
}