* {
    font-family: 'Gamja Flower', cursive;
    box-sizing: border-box;
}

#logo{ 
	position:fixed; 
	top:0; 
	left:0; 
}
.header {
    padding: 60px;
    text-align: center;
    background: #92D293;
}