* {
    font-family: 'Gamja Flower', cursive;
    box-sizing: border-box;
}


ul {
    margin-right: 2vw;
}

.navList li {
    position: relative;
    margin: 10px;
    font-size: 22px;
    float: right;
}

body {
    background-color: #ffc4e1;
}

img {
    display: flex;
    opacity: 0.8;
    border-radius: 1%;
    margin: auto;
}

#logo{ 
	position:fixed; 
	top:0; 
	left:0;